<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong class again???</title>
</head>
<body>
<img src="https://d19d5sz0wkl0lu.cloudfront.net/dims4/default/b2928d2/2147483647/resize/800x%3E/quality/90/?url=https%3A%2F%2Fatd-brightspot.s3.amazonaws.com%2F7f%2F38%2Fb37d0d6148e48fea8f76209eb3bb%2Fbigstock-pretty-teacher-smiling-at-came-69887626-1.jpg">
<h1>Hey there student! Seems like you've come to the wrong room!</h1>
<h1>But you're saying this is the class number on your schedule? Lemme see.</h1>
<h1>Hm... it says here you're supposed to be in chess101, it seems they haven't updated your schedule.. I would check with the POST office.</h1>
</body>
</html>