<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to chess101!</title>
</head>
<body>
<h1>Welcome to chess101!</h1>
<h1>Today's lesson is: KNIGHTS NOT HORSES</h1>
<h1>Fill in the following blanks</h1>
<h2>F2,F4,G_,G5</h2>
<h2>A1,_5,C1,C5,D2,D4</h2>
<h2>B3,B5,C2,C6,E2,E_,F3,F5</h2>
<h2>C1,C3,D4,F4,G_,G3</h2>
<h2>Now concatenating your missing values in order will give you a 4 digit number... just not in base 10. HAHAHHAHAH</h2>
<h2>I'm sure you're familiar.</h2>
</body>
</html>