<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <base href="/">
      <title>Typewriter Effect</title>
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=VT323'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
      <link rel="stylesheet" href="../static/style.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="../static/intro.js"></script>
</head>
<body>

<div class="container py-5">
  <div class="output" id="output">
    <h1 class="cursor"></h1>
    <p></p>
  </div>
</div>

<div class="jump" id="jump">
</div>

<div id="key">
</div>

<p class="sometext">Please wear headphones and darken your room for optimal experience.</p>
</body>
</html>
