<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <base href="/">
      <title>MathisCTF2020</title>
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=VT323'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
      <link rel="stylesheet" href="../static/style.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="../static/intro.js"></script>
</head>
<body>

<audio id="myAudio">
  <source src="https://cdn-05.anonfile.com/N9a5R9v0o6/66e2af8d-1588578742/Scary%20Jumpscare%20Sound%20Effect(1).ogg" type="audio/ogg">
  <source src="https://cdn-16.anonfile.com/191eQdvbo5/44d186e5-1588574190/Scary%20Jumpscare%20Sound%20Effect(1).wav" type="audio/wav">
  Your browser does not support the audio element.
</audio>

<audio id="mykeyaudio">
  <source src="https://cdn-12.anonfile.com/z1a7R4vcoa/dfda829a-1588578710/mybmp.ogg" type="audio/ogg">
  <source src="https://cdn-09.anonfile.com/Xf29Q4vco8/5f93d571-1588574264/mybmp.wav" type="audio/wav">
  Your browser does not support the audio element.
</audio>

<div class="container py-5">
  <div class="output" id="output">
    <h1 class="cursor"></h1>
    <p></p>
  </div>
</div>

<div class="jump" id="jump">
</div>

<div id="key">
</div>

<p class="sometext">Please wear headphones and darken your room for optimal experience.</p>
</body>
</html>
