<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <title>Typewriter Effect</title>
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=VT323'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
      <link rel="stylesheet" href="../static/welcomestyle.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>Good to see you here. Complete the 4 challenges.</h1>
<a>Challenge 1</a>
<a>Challenge 2</a>
<a id="ch3">Challenge 3</a>

</body>
</html>